/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Content */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.content-section {
    min-width: 700px;
    margin-top: 15px;
    background-color: rgb(206, 206, 206);
    min-height: 80vh;
    border-radius: 30px;
}

.recent-tasks {
    display: flex;
    justify-content: space-between;
    margin: 25px 25px 40px 25px;
    padding: 25px;
}

.header-text h2 {
    margin-bottom: 10px;
}

.task-btn {
    border: 0;
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    background-color: rgb(60, 35, 141);
}


/* .content-container {
    min-width: 700px;
} */


.single-content {
    max-width: 350px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.cont-notification {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


/* GRID */


.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;

    justify-content: space-around;
  }
  .grid-item {
    padding: 20px;
  }

  /* GRID END */





header {
    display: flex;
    justify-content: space-evenly;  
    background-color: #fff;
    border-radius: 10px;
   
  
}

/* Header-Calendar */
.calendar  {
    margin-top: 15px;
}




/* Header-Image */
.userImage {
    display: inline-flex;
    width: 200px;
    margin-top: 5px;
    
}
.userImage p {
    margin-top: 15px;
    padding-right: 10px; 
}
.userImage img {
    width: 50px;
    border-radius: 50px;
    
}
.userImage a svg{
    width: 15px;
    padding-left: 5px;
    padding-top: 18px;
    
}


/* Header-Search */
.search{
    margin-top: 14px;
	width: 500px;
	height: 31px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
    border: gray solid 0.5px;
    background-color: rgb(248, 248, 248);
}
.search input {
    width: 450px;
    margin-left: 20px;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: rgb(248, 248, 248);
}

.search svg {
    width: 28px;
    color: gray;
    padding-right: 10px;
}
