/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Content */

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.section {
    margin-top: 15px;
    background-color: rgb(206, 206, 206);
    min-height: 80vh;
    border-radius: 30px;
    width:72%;
}

.task-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.content-cont {
    width: 72%;
    margin: 0 auto;
}

.arrow-down {
    margin-top: 15px;
    font-size: 20px;
    text-align: center;
}

.content-cont h3 {
    display: flex;
    justify-content: flex-start;
}
.content {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 3px 10px;
    margin-top: 30px;
}

.content-time {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.content-title {

    margin-left: 15px;
    max-width: 100%;
}

.icon {
    margin-top: 4px;
}

.btn {
    background-color: rgb(45, 128, 236);
    color: white;
    padding: 10px 15px;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

.completed {
    margin-top: 25px;
}

.drop-btn {
    width: 20px;
    height: 20px;
    display: block;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    outline: none;
}

.main_body{
    display: flex;
    background-color: #F0F0F0;
}

.recent-tasks {
    display: flex;
    justify-content: space-between;
    margin: 25px 25px 40px 25px;
    padding: 25px;
    
}

.header-text h2 {
    margin-bottom: 10px;
}



header {
    display: flex;
    justify-content: space-evenly;
    background-color:#F0F0F0;
    border-radius: 10px;
}

/* Header-Image */
.userImage {
    display: inline-flex;
    width: 200px;
    margin-top: 5px;
    
}
.userImage p {
    margin-top: 15px;
    padding-right: 10px; 
}
.userImage img {
    width: 50px;
    border-radius: 50px;
    
}
.userImage a svg{
    width: 15px;
    padding-left: 5px;
    padding-top: 18px;
    
}


/* Header-Search */
.search{
    margin-top: 14px;
    margin-left: 500px;
	width: 500px;
	height: 31px;
	background-color: white;
	border-radius: 30px;
	display: flex;
	align-items: center;
    border: gray solid 0.5px;
    background-color: rgb(248, 248, 248);
}
.search input {
    width: 450px;
    margin-left: 20px;
    outline: none;
    border: none;
    font-size: 15px;
    background-color: rgb(248, 248, 248);
}

.search svg {
    width: 28px;
    color: gray;
    padding-right: 10px;
}

/* Left bar */
.left_bar{
    width:18%;
    height:50px; 
}

.bar_header{
    font-size:40px;
    margin-left:50px;
   
}

.bar_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75vh;
}

.bar_content svg {
    width: 50px;
    margin-top: 10px;
    margin-left: 40px;
}
.bar_content_tasks {
    display: flex;
    
}
.bar_content_tasks ul {
    margin-top: 80px;
    font-size: 20px;
    margin-left: 20px;
    list-style-type: none;
   

}
.mytasks {
    font-weight: bold;
}

.bar_content_tasks a {
    text-decoration: none;
    color: black;
    

}
